body{
	margin:0 auto;
	width:960px;
}
.b2{
	height:30px;
	width:90px;
	margin-right:0px;
	background-color:#565656;
	float:right;
	color:white;
	margin-top:10px;
	}
.b2:hover{
	color:#00FFFF;
	}
.search-box{
	float:right;
	margin-right:10px;
	height:40px;
	padding:10px;
	margin-top:0;
}
.search-txt{
	padding:5px;
	height:20px;
	background:white;
	outline:none;
	float:left;
	color:black;
	font-size:16px;
	line-height:40px;
}	
a:link ,a:visited{
	text-decoration:none;
	color:#f0edec;
    font-weight:bold;
}
a:hover{
	color:aqua;
}
i{
	color:black;
	}
i:hover{
	color:aqua;
	}
nav ul{
	padding:0;
}
nav li{
	display:inline;
	float:left;
	padding:5px;
}
nav a:link, nav a:visited{
	background-color:#4e4a4a;
	display:block;
	text-align:center;
	padding:10px
}